<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="kganalysis.preferences.KGAnalysisPreferencePage"
            id="kganalysis.preferences.SamplePreferencePage"
            name="KG Analysis Plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="kganalysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="kganalysis.actions.InitializeHandler"
            id="kganalysis.command.initKnowledgeGraph"
            name="Initialize Knowledge Graph with model">
      </command>
      <command
            defaultHandler="kganalysis.actions.CreateGraphHandler"
            id="kganalysis.command.createKnowledgeGraph"
            name="Create Knowledge Graph">
      </command>
      <command
            defaultHandler="kganalysis.actions.StopGraphDbHandler"
            id="kganalysis.command.stopGraphDb"
            name="Stop Graph Database">
      </command>
      <command
            defaultHandler="kganalysis.actions.ReloadModelHandler"
            id="kganalysis.command.reloadModel"
            name="Reload with selected Archi Model">
      </command>
      <command
            defaultHandler="kganalysis.actions.ShowKGHandler"
            id="kganalysis.command.showKGGraph"
            name="Show Knowledge Graph">
      </command>
      <command
            defaultHandler="kganalysis.actions.ShowKGExternalHandler"
            id="kganalysis.command.showKGGraphExternal"
            name="Show Knowledge Graph in external Browser">
      </command>
      <command
            defaultHandler="kganalysis.actions.ShowSmellsViewHandler"
            id="kganalysis.commands.showSmellsView"
            name="%command.name">
      </command>
      <command
            id="kganalysis.commands.detect"
            name="Detect Smells">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
           	allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=toolbar_views">
		<toolbar
			id="kganalysis.toolbar">
          <command
                commandId="kganalysis.command.showKGGraph"
                icon="icons/logo.png"
                tooltip="Open Knowledge Graph"
				style="push">
           </command>
           <command
                commandId="kganalysis.commands.showSmellsView"
                icon="icons/smells.png"
                tooltip="Open EA Smells Report"
                style="push">
           </command>
		</toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=tools">
		<menu
               id="kganalysis.menu"
               label="Knowledge Graph">
     		<command
           		commandId="kganalysis.command.createKnowledgeGraph"
           		icon="icons/start.png"
           		label="Create Knowledge Graph"
           		style="push">
     		</command>
     		<command
           		commandId="kganalysis.command.stopGraphDb"
           		icon="icons/stop.png"
           		label="Stop Database"
           		style="push">
     		</command>
     		<command
           		commandId="kganalysis.command.reloadModel"
           		icon="icons/reload.png"
           		label="Reload with selected Archi Model"
           		style="push">
     		</command>
     		<separator
                  name="kganalysis.menu.separator1"
                  visible="true">
            </separator>
         	<command
               	commandId="kganalysis.command.showKGGraph"
               	label="Show Knowledge Graph"
               	icon="icons/logo.png"
               	style="push">
        	</command>
         	<command
               	commandId="kganalysis.command.showKGGraphExternal"
               	label="Show Knowledge Graph in external Browser"
              	icon="icons/logo.png"
               	style="push">
         	</command>
         	<command
               commandId="kganalysis.commands.showSmellsView"
               icon="icons/smells.png"
               id="kganalysis.menuitem.showSmellsView"
               label="Show Smells Report"
               style="push">
         </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="kganalysis.views.SmellsView"
            icon="icons/smells.png"
            id="kganalysis.smellsView"
            name="Smells"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="kganalysis.smellsView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
            <view
               id="kganalysis.smellsView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         	</view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="kganalysis.Startup">
      </startup>
   </extension>
   

</plugin>
