<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="kganalysis.KGAnalysisExporter"
            id="kganalysis.exportHandler"
            label="Model to GraphML">
      </exportHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="kganalysis.preferences.SamplePreferencePage"
            id="kganalysis.preferences.SamplePreferencePage"
            name="KG Analysis Plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="kganalysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="kganalysis.ShowEASmellsView"
            id="kganalysis.command.showEASmells"
            name="Show EA Smells">
      </command>
      <command
            defaultHandler="kganalysis.ShowKGGraph"
            id="kganalysis.command.showKGGraph"
            name="Show Knowledge Graph">
      </command>
      <command
            defaultHandler="kganalysis.ShowKGGraphExternal"
            id="kganalysis.command.showKGGraphExternal"
            name="Show Knowledge Graph in external Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
           	allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=toolbar_views">
		<toolbar
			id="kganalysis.toolbar">
          <command
                commandId="kganalysis.command.showKGGraph"
                icon="icons/logo.png"
                tooltip="Knowledge Graph"
				style="push">
           </command>
           <command
                commandId="kganalysis.command.showEASmells"
                icon="icons/sample.png"
                tooltip="EA Smells"
                style="push">
           </command>
		</toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=tools">
		<menu
               id="kganalysis.menu"
               label="Knowledge Graph">
         <command
               commandId="kganalysis.command.showKGGraph"
               label="Show Knowledge Graph"
               icon="icons/logo.png"
               style="push">
         </command>
         <command
               commandId="kganalysis.command.showKGGraphExternal"
               label="Show Knowledge Graph in external Browser"
               icon="icons/logo.png"
               style="push">
         </command>
         <separator
                  name="kganalysis.menu.separator1"
                  visible="true">
            </separator>
           <command
               commandId="kganalysis.command.showEASmells"
               id="kganalysis.menuItem.showEASmells"
               label="Detect EA Smells"
               icon="icons/sample.png"
               style="push">
         </command> 
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="kganalysis.views.EASmellsView"
            icon="icons/sample.png"
            id="kganalysis.eaSmellsView"
            name="KG Analysis View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="kganalysis.eaSmellsView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="kganalysis.Startup">
      </startup>
   </extension>

</plugin>
